html {

}

.input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.goto {
  margin: 0.25rem;
  border-radius: 0.25rem;
  width: 10%;
}

::-webkit-scrollbar { 
    display: none; 
}

.main {
  height: 100vh;
  /*  flexbox  */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
}

.buttons-footer {
/*  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
  background:#999;
  width: 100%;
  margin-bottom: 0;*/
  height:60px;
  width: 100%;
  background:#999;

/*  flexbox  */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
}

/* IE 6 */
* html .buttons-footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/*Face five - block header info*/

.bitcoin-logo {
  margin-bottom: 2.5%;
  outline: 1.5px solid #ff7f00;
}

.blockinfo{
  margin: 0;
}


.blockinfo-container {
  width: 100%;
}

.blockinfo .label {
  text-decoration: underline;
}

.blockinfo .number-line {
  margin-top:.22rem;
}

.blockinfo-container li {
  overflow-wrap: break-word;
  margin: 0.5rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*Animation*/
.move-down {
  animation-duration: 1s;
  animation-name: slidedown;
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s linear;
  -moz-transform-style: preserve-3d;
  transition: transform 1s linear;
  transform-style: preserve-3d;
}

@keyframes slidedown {
  from {
    margin-top: 0%;
  }

  to {
    margin-top: 500px;
  }
}

.move-up {
  animation-duration: 1s;
  animation-name: slideup;
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s linear;
  -moz-transform-style: preserve-3d;
  transition: transform 1s linear;
  transform-style: preserve-3d;
}

@keyframes slideup{
  from {
    margin-top: 0%;
  }

  to {
    margin-top: 400%;
  }
}

.appear {
  animation-duration: 1s;
  animation-name: appear;
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s linear;
  -moz-transform-style: preserve-3d;
  transition: transform 1s linear;
  transform-style: preserve-3d;
}

@keyframes appear {
  from {
    margin-top: 50%;
  }

  to {
    margin-top: 0%;
  }
}
/*small cube*/
.wrap {
  perspective: 800px;
  perspective-origin: 50% 100px;
  height: 50%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content:  space-between;

}

.cube {
  margin: 0 auto;
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
}

.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: orange;
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
}
.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}
.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}
.top {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
}
.bottom {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
}
.front {
  transform: translateZ(100px);
}

.bitcoin-small {
  max-width: 200px;
}

@keyframes slidedown {
  from {
    margin-top: 0%;
  }

  to {
    margin-top: -500px;
  }
}


@keyframes spin {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}

.cube {
  animation: spin 5s 1 linear;
}

.screen-small-height {

}

.current-height, .screen-small-height p {
  text-align: center;
  background-color: black;
  color: white;
}

.current-height {
  font-size: 2rem;
  padding: 0.75rem 0;
  margin-top: 0;
  margin-bottom: 0;
}

.screen-small-height p {
  font-size: 1.25rem;
  margin-top: 0;
  padding-bottom: 0.25rem;
}

.block-num {
  background-color: black;
  color: white;
  display: inline;
  padding: 2px;
  font-size: 1rem;
}

.reset {
  display: block;
  margin: 0 auto;
}

.current-block-db {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.header-text {
  margin-top: 0;
}

.screen-small-height p {
  margin-bottom: 0;
}

.pseudo-header {
  margin: 0;
}


